In [1]:
import numpy as np
import pandas as pd

In [2]:
import os

## Ellipsoid

In [3]:
# Folder Path ellipsoid
dir_path = "/home/saad/adda/adda/src/mpi/ellipsoid"
resfile = []
resfolder = []
resdirpath = []
for (dir_path, dir_names, file_names) in os.walk(dir_path):
    resfile.extend(file_names)
    resfolder.extend(dir_names)
    resdirpath.append(dir_path)

In [4]:
df = pd.DataFrame({'folder_path':[], 'Geometry':[], 
                   'degrees':[],
                   'S11': [], '-S21/S11': [], 
                   'y/x': [], 'z/x': [], 'orient': [], 
                   'label': []})

In [5]:
df['folder_path'] = resdirpath[1:]
df['Geometry'] = 'ellipsoid'
df['label'] = np.where(df['Geometry'] == 'ellipsoid', 0, 1)
df

,folder_path,Geometry,degrees,S11,-S21/S11,y/x,z/x,orient,label
0,/home/saad/adda/adda/src/mpi/ellipsoid/593,ellipsoid,NaN,NaN,NaN,NaN,NaN,NaN,0
1,/home/saad/adda/adda/src/mpi/ellipsoid/530,ellipsoid,NaN,NaN,NaN,NaN,NaN,NaN,0
2,/home/saad/adda/adda/src/mpi/ellipsoid/192,ellipsoid,NaN,NaN,NaN,NaN,NaN,NaN,0
3,/home/saad/adda/adda/src/mpi/ellipsoid/301,ellipsoid,NaN,NaN,NaN,NaN,NaN,NaN,0
4,/home/saad/adda/adda/src/mpi/ellipsoid/315,ellipsoid,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
972,/home/saad/adda/adda/src/mpi/ellipsoid/043,ellipsoid,NaN,NaN,NaN,NaN,NaN,NaN,0
973,/home/saad/adda/adda/src/mpi/ellipsoid/371,ellipsoid,NaN,NaN,NaN,NaN,NaN,NaN,0
974,/home/saad/adda/adda/src/mpi/ellipsoid/881,ellipsoid,NaN,NaN,NaN,NaN,NaN,NaN,0
975,/home/saad/adda/adda/src/mpi/ellipsoid/909,ellipsoid,NaN,NaN,NaN,NaN,NaN,NaN,0
976,/home/saad/adda/adda/src/mpi/ellipsoid/505,ellipsoid,NaN,NaN,NaN,NaN,NaN,NaN,0

In [6]:
degrees = []
s11 = []
s21_11 = []
for i in range(len(df)):
    with open(df['folder_path'][i]+'/mueller', 'r') as f:
        ncols = len(f.readline().split(' ')) - 1
        data = np.fromiter((v for line in f for v in line.split(' ')[:-1]), float ,count=-1)
        cols = data.reshape(int(data.size / ncols), ncols).transpose()
        degrees.append(cols[0])
        s11.append(cols[1])
        s21_11.append(cols[2]/cols[1])
        
df['degrees'] = degrees
df['S11'] = s11
df['-S21/S11'] = s21_11

In [7]:
df

,folder_path,Geometry,degrees,S11,-S21/S11,y/x,z/x,orient,label
0,/home/saad/adda/adda/src/mpi/ellipsoid/593,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[579.32169002, 578.37349215, 576.67413162, 574...","[-0.0025284434011946474, -0.002467295578494295...",NaN,NaN,NaN,0
1,/home/saad/adda/adda/src/mpi/ellipsoid/530,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[720.6810315, 719.07723358, 716.20631705, 712....","[0.03716253757124174, 0.03706868468397214, 0.0...",NaN,NaN,NaN,0
2,/home/saad/adda/adda/src/mpi/ellipsoid/192,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[507.6610584, 510.68503502, 513.33229809, 515....","[0.1141060166571957, 0.10851485728151346, 0.10...",NaN,NaN,NaN,0
3,/home/saad/adda/adda/src/mpi/ellipsoid/301,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[1258.4713395, 1260.4825706, 1258.4108878, 125...","[0.02651052823042856, 0.02678376353822151, 0.0...",NaN,NaN,NaN,0
4,/home/saad/adda/adda/src/mpi/ellipsoid/315,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[246.16756173, 245.07402439, 243.66840688, 241...","[0.006683321859053457, 0.0061782237487988225, ...",NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
972,/home/saad/adda/adda/src/mpi/ellipsoid/043,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[586.77539583, 587.82146082, 588.17152516, 587...","[-0.004203589214593808, -0.003944846740650172,...",NaN,NaN,NaN,0
973,/home/saad/adda/adda/src/mpi/ellipsoid/371,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[879.73061447, 880.41394895, 879.48568556, 876...","[0.011430725883125353, 0.011735668429972574, 0...",NaN,NaN,NaN,0
974,/home/saad/adda/adda/src/mpi/ellipsoid/881,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[568.80618682, 569.55277856, 569.26065876, 567...","[0.03062951817982478, 0.03035468238028922, 0.0...",NaN,NaN,NaN,0
975,/home/saad/adda/adda/src/mpi/ellipsoid/909,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[752.33825087, 752.36816216, 751.14207499, 748...","[0.020824317447481693, 0.021066492415756106, 0...",NaN,NaN,NaN,0
976,/home/saad/adda/adda/src/mpi/ellipsoid/505,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[445.03589433, 442.69483292, 439.77486721, 436...","[0.018282689252850943, 0.01796450853230799, 0....",NaN,NaN,NaN,0

## Box

In [8]:
# Folder Path box
dir_path = "/home/saad/adda/adda/src/mpi/box"
resfile = []
resfolder = []
resdirpath = []
for (dir_path, dir_names, file_names) in os.walk(dir_path):
    resfile.extend(file_names)
    resfolder.extend(dir_names)
    resdirpath.append(dir_path)

In [9]:
df2 = pd.DataFrame({'folder_path':[], 'Geometry':[], 
                   'degrees':[],
                   'S11': [], '-S21/S11': [], 
                   'y/x': [], 'z/x': [], 'orient': [], 
                   'label': []})

In [10]:
df2['folder_path'] = resdirpath[1:]
df2['Geometry'] = 'box'
df2['label'] = np.where(df2['Geometry'] == 'box', 1, 0)
df2

,folder_path,Geometry,degrees,S11,-S21/S11,y/x,z/x,orient,label
0,/home/saad/adda/adda/src/mpi/box/1112,box,NaN,NaN,NaN,NaN,NaN,NaN,1
1,/home/saad/adda/adda/src/mpi/box/593,box,NaN,NaN,NaN,NaN,NaN,NaN,1
2,/home/saad/adda/adda/src/mpi/box/530,box,NaN,NaN,NaN,NaN,NaN,NaN,1
3,/home/saad/adda/adda/src/mpi/box/1038,box,NaN,NaN,NaN,NaN,NaN,NaN,1
4,/home/saad/adda/adda/src/mpi/box/192,box,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...
1288,/home/saad/adda/adda/src/mpi/box/043,box,NaN,NaN,NaN,NaN,NaN,NaN,1
1289,/home/saad/adda/adda/src/mpi/box/371,box,NaN,NaN,NaN,NaN,NaN,NaN,1
1290,/home/saad/adda/adda/src/mpi/box/881,box,NaN,NaN,NaN,NaN,NaN,NaN,1
1291,/home/saad/adda/adda/src/mpi/box/909,box,NaN,NaN,NaN,NaN,NaN,NaN,1
1292,/home/saad/adda/adda/src/mpi/box/505,box,NaN,NaN,NaN,NaN,NaN,NaN,1

In [11]:
degrees = []
s11 = []
s21_11 = []
for i in range(len(df2)):
    with open(df2['folder_path'][i]+'/mueller', 'r') as f:
        ncols = len(f.readline().split(' ')) - 1
        data = np.fromiter((v for line in f for v in line.split(' ')[:-1]), float ,count=-1)
        cols = data.reshape(int(data.size / ncols), ncols).transpose()
        degrees.append(cols[0])
        s11.append(cols[1])
        s21_11.append(cols[2]/cols[1])
        
df2['degrees'] = degrees
df2['S11'] = s11
df2['-S21/S11'] = s21_11

In [12]:
df2['degrees']

0       [0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...
1       [0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...
2       [0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...
3       [0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...
4       [0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...
                              ...
1288    [0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...
1289    [0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...
1290    [0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...
1291    [0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...
1292    [0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...
Name: degrees, Length: 1293, dtype: object

In [25]:
df3 = df.append(df2, ignore_index=True)

/tmp/ipykernel_6126/1452768923.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df.append(df2, ignore_index=True)

In [26]:
df3

,folder_path,Geometry,degrees,S11,-S21/S11,y/x,z/x,orient,label
0,/home/saad/adda/adda/src/mpi/ellipsoid/593,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[579.32169002, 578.37349215, 576.67413162, 574...","[-0.0025284434011946474, -0.002467295578494295...",NaN,NaN,NaN,0
1,/home/saad/adda/adda/src/mpi/ellipsoid/530,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[720.6810315, 719.07723358, 716.20631705, 712....","[0.03716253757124174, 0.03706868468397214, 0.0...",NaN,NaN,NaN,0
2,/home/saad/adda/adda/src/mpi/ellipsoid/192,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[507.6610584, 510.68503502, 513.33229809, 515....","[0.1141060166571957, 0.10851485728151346, 0.10...",NaN,NaN,NaN,0
3,/home/saad/adda/adda/src/mpi/ellipsoid/301,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[1258.4713395, 1260.4825706, 1258.4108878, 125...","[0.02651052823042856, 0.02678376353822151, 0.0...",NaN,NaN,NaN,0
4,/home/saad/adda/adda/src/mpi/ellipsoid/315,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[246.16756173, 245.07402439, 243.66840688, 241...","[0.006683321859053457, 0.0061782237487988225, ...",NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
2265,/home/saad/adda/adda/src/mpi/box/043,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[1004.8936203, 1003.5883404, 1001.5473959, 998...","[-0.039522814269776295, -0.0398134307599415, -...",NaN,NaN,NaN,1
2266,/home/saad/adda/adda/src/mpi/box/371,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[1222.2682573, 1221.3707726, 1217.4107856, 121...","[-0.0028517534654787934, -0.002615736743478054...",NaN,NaN,NaN,1
2267,/home/saad/adda/adda/src/mpi/box/881,box,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...","[955.46362385, 955.3870729, 951.58050987, 944....","[-0.05112234505922787, -0.051772651132759535, ...",NaN,NaN,NaN,1
2268,/home/saad/adda/adda/src/mpi/box/909,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[905.88759217, 904.97030581, 903.23176189, 900...","[-0.03285176080920998, -0.034228653804585105, ...",NaN,NaN,NaN,1
2269,/home/saad/adda/adda/src/mpi/box/505,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[386.57200735, 391.04716657, 394.79747359, 397...","[0.18079155791723678, 0.1845713624268903, 0.18...",NaN,NaN,NaN,1

In [27]:
#not 720 data refining
for i in range(len(df3)):
    if (len(df3['degrees'][i]) != 720):
        #print(i)
        df3 = df3.drop(index=i)

In [29]:
df4 = df3.reset_index(drop=True)

In [30]:
df4

,folder_path,Geometry,degrees,S11,-S21/S11,y/x,z/x,orient,label
0,/home/saad/adda/adda/src/mpi/ellipsoid/593,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[579.32169002, 578.37349215, 576.67413162, 574...","[-0.0025284434011946474, -0.002467295578494295...",NaN,NaN,NaN,0
1,/home/saad/adda/adda/src/mpi/ellipsoid/530,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[720.6810315, 719.07723358, 716.20631705, 712....","[0.03716253757124174, 0.03706868468397214, 0.0...",NaN,NaN,NaN,0
2,/home/saad/adda/adda/src/mpi/ellipsoid/192,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[507.6610584, 510.68503502, 513.33229809, 515....","[0.1141060166571957, 0.10851485728151346, 0.10...",NaN,NaN,NaN,0
3,/home/saad/adda/adda/src/mpi/ellipsoid/301,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[1258.4713395, 1260.4825706, 1258.4108878, 125...","[0.02651052823042856, 0.02678376353822151, 0.0...",NaN,NaN,NaN,0
4,/home/saad/adda/adda/src/mpi/ellipsoid/315,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[246.16756173, 245.07402439, 243.66840688, 241...","[0.006683321859053457, 0.0061782237487988225, ...",NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
1826,/home/saad/adda/adda/src/mpi/box/166,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[1082.9996549, 1078.6858959, 1073.1130423, 106...","[-0.025237628701297934, -0.02516023266565082, ...",NaN,NaN,NaN,1
1827,/home/saad/adda/adda/src/mpi/box/043,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[1004.8936203, 1003.5883404, 1001.5473959, 998...","[-0.039522814269776295, -0.0398134307599415, -...",NaN,NaN,NaN,1
1828,/home/saad/adda/adda/src/mpi/box/371,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[1222.2682573, 1221.3707726, 1217.4107856, 121...","[-0.0028517534654787934, -0.002615736743478054...",NaN,NaN,NaN,1
1829,/home/saad/adda/adda/src/mpi/box/909,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[905.88759217, 904.97030581, 903.23176189, 900...","[-0.03285176080920998, -0.034228653804585105, ...",NaN,NaN,NaN,1
1830,/home/saad/adda/adda/src/mpi/box/505,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[386.57200735, 391.04716657, 394.79747359, 397...","[0.18079155791723678, 0.1845713624268903, 0.18...",NaN,NaN,NaN,1

In [33]:
df4.to_pickle('mueller_data.pkl')