## Random Forest Classifier

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [2]:
data = pd.read_pickle("mueller_data.pkl")
data

,folder_path,Geometry,degrees,S11,-S21/S11,y/x,z/x,orient,label
0,/home/saad/adda/adda/src/mpi/ellipsoid/593,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[579.32169002, 578.37349215, 576.67413162, 574...","[-0.0025284434011946474, -0.002467295578494295...",NaN,NaN,NaN,0
1,/home/saad/adda/adda/src/mpi/ellipsoid/530,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[720.6810315, 719.07723358, 716.20631705, 712....","[0.03716253757124174, 0.03706868468397214, 0.0...",NaN,NaN,NaN,0
2,/home/saad/adda/adda/src/mpi/ellipsoid/192,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[507.6610584, 510.68503502, 513.33229809, 515....","[0.1141060166571957, 0.10851485728151346, 0.10...",NaN,NaN,NaN,0
3,/home/saad/adda/adda/src/mpi/ellipsoid/301,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[1258.4713395, 1260.4825706, 1258.4108878, 125...","[0.02651052823042856, 0.02678376353822151, 0.0...",NaN,NaN,NaN,0
4,/home/saad/adda/adda/src/mpi/ellipsoid/315,ellipsoid,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[246.16756173, 245.07402439, 243.66840688, 241...","[0.006683321859053457, 0.0061782237487988225, ...",NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...
1826,/home/saad/adda/adda/src/mpi/box/166,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[1082.9996549, 1078.6858959, 1073.1130423, 106...","[-0.025237628701297934, -0.02516023266565082, ...",NaN,NaN,NaN,1
1827,/home/saad/adda/adda/src/mpi/box/043,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[1004.8936203, 1003.5883404, 1001.5473959, 998...","[-0.039522814269776295, -0.0398134307599415, -...",NaN,NaN,NaN,1
1828,/home/saad/adda/adda/src/mpi/box/371,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[1222.2682573, 1221.3707726, 1217.4107856, 121...","[-0.0028517534654787934, -0.002615736743478054...",NaN,NaN,NaN,1
1829,/home/saad/adda/adda/src/mpi/box/909,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[905.88759217, 904.97030581, 903.23176189, 900...","[-0.03285176080920998, -0.034228653804585105, ...",NaN,NaN,NaN,1
1830,/home/saad/adda/adda/src/mpi/box/505,box,"[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, ...","[386.57200735, 391.04716657, 394.79747359, 397...","[0.18079155791723678, 0.1845713624268903, 0.18...",NaN,NaN,NaN,1

In [3]:
X = data['S11']
#X = data['-S21/S11']
y = data['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [4]:
def calc_norm(x):
    return x/max(x)
x_train = X_train.apply(calc_norm).to_numpy()
x_test = X_test.apply(calc_norm).to_numpy()
x_train = np.vstack(x_train)
x_test = np.vstack(x_test)
print(x_train.shape)
print(x_test.shape)

(1373, 720)
(458, 720)

In [5]:
clf = RandomForestClassifier(max_depth=128, random_state=0)
clf.fit(x_train, y_train)

RandomForestClassifier(max_depth=128, random_state=0)

In [6]:
#for i in range(100):
#    print(clf.predict([x_test[i]]))

In [11]:
import pickle
pickle_out = open('classifier.pkl', 'wb')
pickle.dump(clf, pickle_out)
pickle_out.close()

In [7]:
clf.score(x_test, y_test)

0.8951965065502183

In [17]:
print(clf.predict([x_test[10]]))

[1]

In [42]:
np.savetxt('test.csv', x_test, delimiter=',')